body {
    background-color: #56a35a; /* Light green background #56a35a*/
    margin: 0;                /* Remove default browser margins */
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .App {
    text-align: center;
  }
  
  .nav-container {
    position: absolute;
    top: 10px; 
    left: 10px;
    display: flex;
    gap: 10px;
  }
  
  .nav-item {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-decoration: none;
    color: #042D63;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }
  
  .nav-item:hover {
    color: #007bff;
    text-decoration: underline;
  }

  .title {
    font-size: 3rem;
    margin-top: 75px;
    margin-bottom: 20px;
    color: #042D63;
  }

  .subheading {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
    word-wrap: break-word;
    color: #042D63;
  }

  @media screen and (max-width: 675) {
    .subheading {
      font-size: 1.2rem; /* Reduce font size for small devices */
      margin-bottom: 30px; /* Adjust spacing */
    }
  }
  
  @media screen and (max-width: 400px) {
    .subheading {
      font-size: 1rem; /* Further reduce font size for very small devices */
    }
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.736vw; /* Horizontal spacing between input boxes */
    margin-bottom: 10px; /* Space between inputs and results */
    height: 40px;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .input-container {
    position: relative;
  }

  .input-label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 5px; 
  }
  /* Input box styling */
  .input-box {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #042D63;
    margin-right: 10px;
    border-radius: 5px;
    width: 12.5vw;
  }
  
  .input-box.valid {
    border: 4px solid green;
  }
  
  /* Invalid input styling */
  .input-box.invalid {
    border: 2px solid red;
  }

  .suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    width: 100%; /* Match the input field's width */
    z-index: 1000;
  }
  
  .suggestion-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
  }
  .suggestion-item span {
    flex-grow: 1; /* Allow the text to take remaining space */
    text-align: left; /* Align text to the left */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }

  @media (min-width: 601px) {
  .custom-flag {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-left: 15px;
    max-height: 1.5em;
    aspect-ratio: 4 / 3;
  }}
  
  @media (max-width: 600px) {
    .suggestion-item {
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  
    .custom-flag {
      max-height: 2em;
    }
  
    .suggestion-item span {
      white-space: normal;
      text-align: center;
    }
  }
  /* Submit button styling */
  .submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #042D63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center-align text */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .submit-button:hover {
    background-color: #2a4d69;
  }

  .submit-button:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .validate-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #042D63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .validate-button:hover {
    background-color: #2a4d69;
  }

  .validate-button:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .row-button {
   /*padding: 10px 20px;*/
    margin-left: 10px;
    margin-right: 10px;
    margin: 5px;
    font-size: 1rem;
    color: black;
    background-color: #cbd1c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .row-button:disabled {
    background-color: gray; /* Example: grey out the button */
    cursor: not-allowed; /* Change the cursor to indicate the button is disabled */
    opacity: 0.5; /* Optionally, reduce opacity */
  }

  /* Results styling */
  .results {
    margin-top: 60px;
  }

  .result-line {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #042D63;
  }

  .win-message {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #042D63;
  }

  .player-name {
    display: inline-flex; 
    align-items: center; 
    margin-right: 10px; 
  }

  .custom-flag-result {
    max-height: 1.2em;
    margin-left: 15px;
  }

  .error-message {
    color: #cc0000;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }

  .graph-background-svg {
    pointer-events: none; /*Allows clicks to pass through to underlying elements*/
  }